<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Axon Test Suite">
            <directory suffix="Test.php">./tests/Axon/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib/Axon/</directory>
        </whitelist>
    </filter>
</phpunit>
